<%- include("partials/header2") %>
    <!-- FORM -->

    <div class="form1" style="margin: 20px;">
        <div class="ui raised segment dimmable">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
            <h2 class="ui header"><i aria-hidden="true" class="user icon"></i>Register</h2>
            <p style="color: black;"> Log in to see the data of your hospital and check the updates.</p>
            <div class="ui divider"></div>
            <form action="/register" method="POST" class="ui form">
                <div class="field">
                    <div class="field"><label class="ui header">Name</label>
                        <div class="ui left icon input"><input style="padding: 0;" aria-invalid="true" placeholder="Enter Full Name" name="name" type="text" value=""><i aria-hidden="true" class="user icon"></i></div>
                    </div>
                </div>
                <div class="field">
                    <div class="field"><label class="ui header">Email Address</label>
                        <div class="ui left icon input"><input style="padding: 0;" aria-invalid="true" placeholder="Enter Email" name="email" type="email" value=""><i aria-hidden="true" class="mail icon"></i></div>
                    </div>
                </div>
                <div class="field">
                    <div class="field"><label class="ui header">Password</label>
                        <div class="ui left icon input"><input style="padding: 0;" aria-invalid="true" placeholder="Enter Password" name="password" type="password" value=""><i aria-hidden="true" class="lock icon"></i></div>
                    </div>
                </div>
                <div class="field">
                    <div class="field"><label class="ui header">Confirm Password</label>
                        <div class="ui left icon input"><input style="padding: 0;" aria-invalid="true" placeholder="Re-enter Password" name="passwordConfirmation" type="password" value=""><i aria-hidden="true" class="lock icon"></i></div>
                    </div>
                </div>
                <div class="field ui header" style="color: black;"><b>User Role</b></div>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui checked radio checkbox"><input id="user" name="role" type="radio" value="user" checked=""><label for="user">User</label></div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox"><input id="owner" name="role" type="radio" value="owner"><label for="Owner">Owner</label></div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox"><input id="admin" name="role" type="radio" value="admin"><label for="Admin">Admin</label></div>
                    </div>

                </div>
                <button type="submit" class="ui primary button"><div class="content">Register</div></button></form>
        </div>
    </div>

    </header>

    <%- include("partials/footer") %>